{% extends 'base.html.twig' %}

{% block title %}Personaltecnico index{% endblock %}

{% block body %}
    <h1 class="p-3 mb-2 bg-primary text-white" >Personaltecnico </h1>

    <table class="table">
        <thead>
            <tr>

                <th>Bienvenido </th>
                <th>Cedula</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{ personaltecnico.nombre }}</td>
                <td>{{ personaltecnico.cedula }}</td>
            </tr>
        </tbody>
    </table>
    <h1 class="p-3 mb-2 bg-primary text-white" >Personal Tecnico - Tickets</h1>
    <table class="table">
        <thead>
            <tr>
                <th>IdTicket</th>
                <th>IdCliente</th>
                <th>Activo</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
               <tr>
                <td>{{ ticket.idTicket }}</td>
                <td>{{ ticket.idCliente }}</td>
                <td>{{ ticket.activo ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.fecha ? ticket.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                </td>
            </tr>
            <tr>
            {% endfor %}
                <td colspan="5">No hay Tickets</td>
            </tr>
        </tbody>
        <a class="btn btn-danger"  href="{{ path('app_usuario') }}" >Salir</a>    
{% endblock %}
