{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTicket</th>
                <th>IdCliente</th>
                <th>Activo</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
               <tr>
                <td>{{ ticket.idTicket }}</td>
                <td>{{ ticket.idCliente }}</td>
                <td>{{ ticket.activo ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.fecha ? ticket.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                </td>
            </tr>
            <tr>
            {% endfor %}
                <td colspan="5">No hay Tickets</td>
            </tr>
        </tbody>
    </table>
    <h1>Personal Tecnico - Seleccione su trabajo</h1>
        <table class="table">
                    <thead>
            <tr>
                <th>Tipo de Trabajo</th>
                <th>Precio/Hora</th>
                <th>HorasInvertidas</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for referenciasprecio in referenciasprecios %}
            <tr>
                <td>{{ referenciasprecio.tipotrabajo }} </td>
                <td>{{ referenciasprecio.preciohora }} </td>
                <td>{{ horasInvertidas}} </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_ticket_new',{'idCliente': cliente.idCliente, 'tipotrabajo':referenciasprecio.tipotrabajo, 'horasInvertidas': horasInvertidas }) }}">Crear Ticket</a>
                </td>
            </tr>  
        {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
        {% endfor %}
    
    
    <a class="btn btn-secondary" href="{{ path('app_cliente_inicio',{'idCliente': cliente.idCliente}) }}">Regresar</a>

{% endblock %}
