{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTicket</th>
                <th>IdCliente</th>
                <th>Activo</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if ticket != null %}
               
                <td>{{ ticket.idTicket }}</td>
                <td>{{ ticket.idCliente }}</td>
                <td>{{ ticket.activo ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.fecha ? ticket.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                </td>
            </tr>
            <tr>
                {% endif %}
                <td colspan="5">No hay Tickets</td>
            </tr>
        </tbody>
    </table>
    <h1>Personaltecnico - Seleccione su trabajo</h1>

    <div id="list-example" class="list-group">
        {% for referenciasprecio in referenciasprecios %}
        <td>{{ referenciasprecio.tipotrabajo }} </td>
        <td>{{ referenciasprecio.preciohora }} </td>
        <td>
            <a href="{{ path('app_ticket_new',{'idCliente': cliente.idCliente, 'tipotrabajo':referenciasprecio.tipotrabajo }) }}">Crear Ticket</a>
        </td>
        {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
        {% endfor %}
      </div>
    
    <a href="{{ path('app_cliente_inicio',{'idCliente': cliente.idCliente}) }}">Regresar</a>

{% endblock %}
