{% extends 'base.html.twig' %}
{% block title %}Gerente{% endblock %}

{% block body %}
    <h1>Gerente</h1>
    <table class="table">
        <tbody>
            <tr>
            </tr>
            <tr>
                <th>Bienvenido: </th>
                <td>{{ gerente.nombre }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ gerente.cedula }}</td>
            </tr>
        </tbody>
    </table>
    <td>
<<<<<<< HEAD
        <a class="btn btn-danger"  href="{{ path('app_usuario') }}" >Salir</a>
=======
        <a class="btn btn-danger"  href="{{ path('app_gerente_salir') }}" >Salir</a>
>>>>>>> 704101e5771c5030c2745d04cfd7e6c29038fcb7
        <a class="btn btn-secondary"  href="{{ path('app_gerente_facturaP') }}" >Mostrar Facturas</a>
    <td>
{% endblock %}
